@{
    ViewData["Title"] = "Confirmare";
    Layout = "_Layout";

}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Mesajul tău a fost trimis!</h1>
        <p>Îți mulțumim pentru mesaj. Vom răspunde în cel mai scurt timp posibil.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Înapoi la pagina principală</a>
    </div>
</body>
</html>